boto3==1.9.253
botocore==1.12.253
certifi==2019.9.11
chardet==3.0.4
Click==7.0
dataclasses==0.6
docutils==0.15.2
fastapi==0.42.0
h11==0.8.1
httptools==0.0.13
idna==2.8
jmespath==0.9.4
numpy==1.17.3
pandas==0.25.2
pkg-resources==0.0.0
pydantic==0.32.2
PyJWT==1.7.1
python-dateutil==2.8.0
python-dotenv==0.10.3
pytz==2019.3
requests==2.22.0
s3transfer==0.2.1
six==1.12.0
starlette==0.12.9
twilio==6.32.0
urllib3==1.25.6
uvicorn==0.9.0
uvloop==0.13.0
websockets==8.0.2
